.balance {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 18px;
  color: #369;
  background: linear-gradient(to bottom, #F6F6F6,#E6E6E6);
  text-shadow: 0 1px 0 #FFF;
}

.balance .main-panel, .balance .settings-panel {
  padding: 14px;
}

.balance .settings-panel .setting {
  margin-bottom: 10px;
}

.balance .settings-panel .setting p {
  margin: 0;
  font-size: 90%;
  margin-bottom: 5px;
}

.balance .current-balance {
  display: inline-block;
}

.balance .buttons {
  position: absolute;
  right: 7px;
  top: 6px;
}

.balance input[type="text"], .balance input[type="date"], .balance input[type="month"] {
  width: 160px;
  padding: 6px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: #555;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
}

.balance h1 {
  font-size: 16px;
  margin: 0 0 14px 0;
  display: inline-block;
}

.balance .balance-settings-container {

}

.balance .close-settings {
  position: absolute;
  right: 15px;
  top: 15px;
}

.balance .day-length-range {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
}

.balance .day-length-range:focus {
  border: 1px solid #aaa;
  box-shadow: none;
}

.balance .day-length {
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

.balance .setting label {
  display: block;
  padding: 5px 0;
  font-size: 14px;
}

.balance .setting button {
  cursor: pointer;
}

.balance .setting .buttons-container {
  margin: 10px 0 10px 0;
}

.balance .reload {
  width: 160px;
  padding: 6px 0;
  height: auto;
}

.balance .add-new-entry {
  display: block;
  margin-bottom: 10px;
}

.balance table {
  width: 490px;
}

.balance table th {
  text-align: left;
  padding: 5px 0;
}

.balance table td {
  text-align: left;
  padding: 5px 0;
}

.balance .paid-overtime-hours.invalid {
  border-color: red;
}

@font-face {
  font-family: 'icomoon';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/LgAAAC8AAAAYGNtYXAaVcxZAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5ZrhCOnIAAAFwAAAC/GhlYWQBatwPAAAEbAAAADZoaGVhA+IB6AAABKQAAAAkaG10eAcAAAkAAATIAAAAHGxvY2EBCgIKAAAE5AAAABBtYXhwABQAagAABPQAAAAgbmFtZVcZpu4AAAUUAAABRXBvc3QAAwAAAAAGXAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAgHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYC//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAADAAA/+AB4AHgAAMABwALAA8AEwAXABsAHwAjACcANAA5AAATMxUjNzMVIzczFSMFMxUjNzMVIzczFSMnMxUjNzMVIzczFSMlMxUjARUjNSMVIzUjESERIxMhESERoEBAYEBAYEBA/uBAQGBAQGBAQGBAQGBAQGBAQP7gQEABYEDgQEAB4EAg/mABoAEgQEBAQECAQEBAQECgQEBAQEBAQAFgICAgIP4AAgD+IAFg/qAAAAAAAQAA/+ACAAHgAEQAAAEjNy4BJy4BIyIGBw4BBw4BBw4BFRQWFx4BFx4BFx4BMzI2Nz4BNz4BNxcOAQcOASMiJicuATU0Njc+ATMyFhceARc3FQIAwEgOHxESJRMTJRIRHw4NFQcIBwcIBxUNDh8REiUTEyUSER8OAgQCMRIrGBk2HTVdIyMoKCMjXTUbMhcXKRFLASBIDRUHCAcHCAcVDQ4fERIlExMlEhEfDg0VBwgHBwgHFQ0DBAMrFCALDAwoIyNdNTVdIyMoCgoKHBFLwAAAAAACAAn/4AH3AeAATgBnAAAlLgE3PgE3Jw4BBw4BIyImJy4BNSMUBgcOAQcOAQcGJicHHgEXHgEXHgEHDgEHFz4BNz4BMzIWFx4BFTM0Njc+ATc+ATc2Fhc3LgEnLgEnByImJy4BNTQ2Nz4BMzIWFx4BFRQGBw4BIwHTCgUFBRcSMgYLBwYNBhQkDQ0QZAIBAgUDCh8SEyYSMgULBAUIAwoEBAUXEjIGCwcGDAcUJA0ND2UCAQIFAwofEhInETMGCgQFCAPTFSYODhERDg4mFRUmDg4REQ4OJhWvEScSEh8KVwMFAgECDw4NJBQGDQYGDAYSFwQFBApXAwcFBAsFEiYSEh8LVwMFAgIBDw0NJBQGDQYGDAYRFwUFBQpXAwgEBQoGNxEODiYVFSYODhERDg4mFRUmDg4RAAABAAAAAQAAv7D2Nl8PPPUACwIAAAAAANAlzakAAAAA0CXNqQAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAAAgAACQAAAAAACgAUAB4AeADiAX4AAQAAAAcAaAAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKADQAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKADQAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAXEAAoAAAAABXwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAjIAAAIyKW4qS09TLzIAAAMoAAAAYAAAAGAIIvy4Y21hcAAAA4gAAABMAAAATBpVzFlnYXNwAAAD1AAAAAgAAAAIAAAAEGhlYWQAAAPcAAAANgAAADYBatwPaGhlYQAABBQAAAAkAAAAJAPiAehobXR4AAAEOAAAABwAAAAcBwAACW1heHAAAARUAAAABgAAAAYAB1AAbmFtZQAABFwAAAFFAAABRVcZpu5wb3N0AAAFpAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAACCDx0AAACHER0AAAAJHQAAAikSAAgBAQgPERMWGyAlaWNvbW9vbmljb21vb251MHUxdTIwdUU2MDB1RTYwMXVFNjAyAAACAYkABQAHAgABAAQABwAKAA0AqwEMAZD8lA78lA78lA77lA73NPe0FcuLi0tLiwXryxXLi4tLS4sF68sVy4uLS0uLBfu0+xQVy4uLS0uLBevLFcuLi0tLiwXryxXLi4tLS4sFK/c0FcuLi0tLiwXryxXLi4tLS4sF68sVy4uLS0uLBfu0yxXLi4tLS4sF9/T39BWLa0uLi6v7dIuLa0uLi6tLi4v8lPh0i4v4lEuLBav8dBX8NIuL9/T4NIuL+/QFDviU97QV+1SL09MFZ69an1iLWItbd2ZnZ2d3WotYi1ifW69msGe7d76Lvou8n6+vjo6Ojo2PCLxgBVxWRmk+i/shi/sH9weL9yGL9yH3B/cH9yGL0ovLbrldCNbWi/tUBQ74Z/dDFXC5m8e6pghZ4gV8g3uGeYtVi1+3i8EIJ4sFi3qHeoJ8cFxPfFylCFk0BZqDl3+UfKZce1Bcbwi9NAWalJuPnYvBi7Zgi1UI8IsFi5yPm5SbprnGm7pwCL7iBXyTf5iCmgj7Z1QVUotcuovEi8S6usSLxIu6XItSi1JcXFKLCA74lBT4lBWLDAoAAAADAgABkAAFAAABTAFmAAAARwFMAWYAAAD1ABkAhAAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAEAAAOYCAeD/4P/gAeAAIAAAAAEAAAAAAAAAAAAAACAAAAAAAAIAAAADAAAAFAADAAEAAAAUAAQAOAAAAAoACAACAAIAAQAg5gL//f//AAAAAAAg5gD//f//AAH/4xoEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAQAAIMnDdF8PPPUACwIAAAAAANAlzakAAAAA0CXNqQAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAAAgAACQAAUAAABwAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e600";
}
.icon-spinner:before {
  content: "\e601";
}
.icon-cog:before {
  content: "\e602";
}
